#leftcol{float:left;}

#leftcolpad{padding:10px 10px 20px 18px;}

#container1{background:url(../../images/dark/content_mid_left_orientation.png) 0 0 repeat-y}
#content_bot1{background:url(../../images/dark/content_bot_left_orientation.png) 0 0 no-repeat}

#contentpad1{padding:20px 20px 20px 29px;}