a:link, a:visited {
color:#ee9292;
font-weight:bold;
}

#header-left {
background:url(../../images/dark/pink/header.jpg) 0 0 no-repeat;
}

#header-right {
background:url(../../images/dark/pink/header_right.jpg) 0 0 no-repeat;
}

#header-right_normal {
background:url(../../images/dark/pink/header_right_normal.jpg) 0 0 no-repeat;
}

#skipbutton a {
background:url(../../images/dark/pink/skip.png) 0 0 no-repeat;
}

#skipbutton a:hover {
background:url(../../images/dark/pink/skip_hov.png) 0 0 no-repeat;
}

#topbar{
background:url(../../images/dark/pink/topbar.png) 0 bottom repeat-x;
}