a:link, a:visited {
color:#71bb00;
font-weight:bold;
}

#header-left {
background:url(../../images/light/green/header.jpg) 0 0 no-repeat;
}

#header-right {
background:url(../../images/light/green/header_right.jpg) 0 0 no-repeat;
}

#header-right_normal {
background:url(../../images/light/green/header_right_normal.jpg) 0 0 no-repeat;
}

#skipbutton a {
background:url(../../images/light/green/skip.png) 0 0 no-repeat;
}

#skipbutton a:hover {
background:url(../../images/light/green/skip_hov.png) 0 0 no-repeat;
}

#topbar{
background:url(../../images/light/green/topbar.png) 0 bottom repeat-x;
}